<div class="container">
    <div class="row ">
        <div class="col-md-8 offset-2">
            <div class="papers ">
                <div class="row text-center mt-3">

                    <div class="col-md-2">
                        <img src="../../../../assets/images/img-1.png" alt="profile-image"
                            class="rounded-circle profile-image">
                    </div>

                    <div class="star rating col-md-1 mt-4 ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-star" viewBox="0 0 16 16">
                            <path
                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                        </svg>
                    </div>

                </div>

                <div class="text-center">
                    <img src="../../../../assets/images/menu-img-03.jpg" alt="post-img" class="rounded post-img " />
                </div>

                <h4 class="notopmarg nobotmarg mt-3 ml-2">John Vandeley</h4>
                <p class=" ml-2">
                    Have you ever felt worried that your party will not raise up to your guest expectations? In design,
                    vertical rhythm is the structure that guides a
                </p>

                <div class="row">
                    <div class="post-share">
                        <input type="checkbox" id="checkbox" />
                        <label for="checkbox">
                            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                    <path
                                        d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                        id="heart" fill="#AAB8C2" />
                                    <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />
                                    <g id="grp7" opacity="0" transform="translate(7 6)">
                                        <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                                        <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                                    </g>
                                    <g id="grp6" opacity="0" transform="translate(0 28)">
                                        <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                                        <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                                    </g>
                                    <g id="grp3" opacity="0" transform="translate(52 28)">
                                        <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                                        <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                                    </g>
                                    <g id="grp2" opacity="0" transform="translate(44 6)" fill="#CC8EF5">
                                        <circle id="oval2" transform="matrix(-1 0 0 1 10 0)" cx="5" cy="6" r="2" />
                                        <circle id="oval1" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" />
                                    </g>
                                    <g id="grp5" opacity="0" transform="translate(14 50)" fill="#91D2FA">
                                        <circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2" />
                                        <circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" />
                                    </g>
                                    <g id="grp4" opacity="0" transform="translate(35 50)" fill="#F48EA7">
                                        <circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2" />
                                        <circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2" />
                                    </g>
                                    <g id="grp1" opacity="0" transform="translate(24)" fill="#9FC7FA">
                                        <circle id="oval1" cx="2.5" cy="3" r="2" />
                                        <circle id="oval2" cx="7.5" cy="2" r="2" />
                                    </g>
                                </g>
                            </svg>
                        </label>
                    </div>

                    <button type="button" class="btn post-btn mt-2">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" color="red" width="20" height="20" fill="currentColor"
                        class="bi bi-chat-square bi-suit-heart-fill" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    </svg> -->
                        View Post
                    </button>

                </div>

                <div class="input-group mt-3">
                    <input type="text" class="form-control" placeholder="Write Your Comment">
                    <div class="input-group-append mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" color="black" width="30" height="30" fill="currentColor"
                            class=" text-center bi bi-arrow-right-circle-fill" viewBox="0 0 20 20">
                            <path
                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </div>
                </div>
                
    <div class="row mt-4">

        <div class="text-center col-sm-2 mt-2">
            <img src="../../../../assets/images/img-1.png" alt="profile-image" class="rounded-circle profile-image">
        </div>

        <div class="col-sm-9 rounded border ">
            <h4 class="ml-2 mt-2">Profile Name</h4>
            <p class="ml-2 mt-1">Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales
                aliquam at eget quam. Integer ultricies et magna quis.Etiam materials ut mollis tellus, vel posuere
                nulla. Etiam sit amet massa sodales
                aliquam at eget quam. Integer ultricies et magna quis.
            </p>
        </div>

    </div>

    <div class="row mt-4">

        <div class="text-center col-sm-2 mt-2">
            <img src="../../../../assets/images/img-1.png" alt="profile-image" class="rounded-circle profile-image">
        </div>

        <div class="col-sm-9 rounded border ">
            <h4 class="ml-2 mt-2">Profile Name</h4>
            <p class="ml-2 mt-1">Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales
                aliquam at eget quam. Integer ultricies et magna quis.Etiam materials ut mollis tellus, vel posuere
                nulla. Etiam sit amet massa sodales
                aliquam at eget quam. Integer ultricies et magna quis.
            </p>
        </div>

    </div>
    
            </div>
        </div>
    </div>
</div>